.list-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.list-info h2 {
    font-size: 36px;
    color: #F0F0F0;
    width: 100%;
    text-align: center;
    margin: 32px 0;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 0 0 1rem;

}

.cat-list {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 55vw;
}

.cat-column {
    display: flex;
    flex-direction: column;
}

.cat-name {
    color: #f0f0f0;
    text-align: center;
    transition: 0.25s;
    text-decoration: none;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    background-color: #141414;
    border: 0;
    padding: 0;
    width: max-content;
    margin: auto;
}

.cat-name:hover {
    color: rgb(173, 75, 232);
}

.cat-name:focus {
    color: rgb(173, 75, 232);
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 960px;
    margin-top: 4em;
}

.card-holder {
    position: relative;
    right: 0;
    background: white;
    border-radius: 30px 30px 20px 20px;
    border-color: transparent;
    height: 360px;
    width: 260px;
    margin: 15px 30px;
    transition: 0.5s;
    color: #000;
}

.card-link {
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    color: #000;
}

.card-image {
    background-size: cover !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-color: transparent;
    height: 100px;
    width: 260px;
}

.card-title {
    text-align: center;
}

.card-desc {
    overflow: hidden;
    height: auto;
    min-height: 150px;
    font-size: 16px;
    color: black;
    margin: 0 20px;
    text-align: center;
    
}

.card-link hr {
    padding: 0;
    margin: 0;
    border: 0;
    height: 2px;
    background-color: #141414;
}

.card-buttons {
    float: right;
}

.edit-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    background-color: aliceblue;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.add-cat {
    width: 100px;
    margin-left: 20px;
    height: 40px;
}

.added-cat{
    color: #000;
    margin: 0 0 10px 10px;
}

.Post-form {
    display: flex;
    flex-direction: column;
    margin: 35px;
}

.Post-form > input {
    margin: 1rem 0 1rem 0;
    height: 2rem;
}

.Post-form > button {
    margin: 1rem 0 1rem 0;
    height: 2rem;
}

.close-pop {
    width: 35px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 !important;
    border: 0;
}

.close-pop:hover {
    background-color: red;
    color: #fff;
}

.submit-button {
    display: flex;
}

.submit-button button {
    width: 50%;
}

.category-section {
    display: flex;
    
}

.categories-select {
    height: 40px;
    width: 150px;
    text-align: center;
}

.current-cats {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 10px;
}

@media screen and (max-width: 1480px) {
    .info {
	    width: 640px;
	}
}

@media screen and (max-width: 920px) {
    .cat-list {
        width: 100vw;
	}
    
    .info,
	.card-link {
		width: 320px;
	}

    .cat-name {
		font-size: 12px;
		padding: 0 0 5px;
	}
}