footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 64px;
    background: #2B2B2B;
    height: 100px;
    width: 100%;
}

.DA {
    height: auto;
    width: auto;
}